/* Sticky footer styles
-------------------------------------------------- */
html {
position: relative;
min-height: 100%;
}
body {
/* Margin bottom by footer height */
margin-bottom: 60px;
font-family: Quantico,sans-serif !important;
}
.main{
  margin: 30px;
}
.footer {
position: absolute;
bottom: 0;
width: 100%;
/* Set the fixed height of the footer here */
height: 60px;
line-height: 60px; /* Vertically center the text there */
background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
padding: 60px 15px 0;
}

.footer > .container {
padding-right: 15px;
padding-left: 15px;
}

code {
font-size: 80%;
}

/* Custom CSS for Header
-------------------------------------------------- */

hr {
    margin-top: 0px;
    margin-bottom: 10px;
    border-top: 2px solid #eee;
}
.navbar{
  margin-bottom: 10px !important;
}
.navbar-right{
  margin-top: 10px !important;
}

/* carousel CSS for Home
-------------------------------------------------- */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}

/* Custom CSS for Footer
-------------------------------------------------- */
.footer{
  line-height: 30px;
}

.wlast{
  color: #595ca1;
}
h3{
  font-weight: bold;
}
